//- button.settings-toggle#toggle(type="button" onClick="toggleSettings()")
//-     include ../images/icon_settings.svg

div#settings.settings

    div.container.fluid

        div.p-30-top.p-20-bot.p-20-hor
            h3 Settings

        form.form(onsubmit="saveSettings();")

            div.p-10-ver
                label.form__label#label-maxPoints(for="maxPoints") Maximum Points
                input.form__control#maxPoints(type="number" name="maxPoints" value="7" autocomplete="off" required="true" placeholder="Suggested: 7")

            div.p-10-ver
                label.form__label#label-overtimePoints(for="overtimePoints") Overtime Points
                input.form__control#overtimePoints(type="number" name="overtimePoints" value="2" autocomplete="off" placeholder="Suggested: 2")

            div.p-20-ver.text-center
                button(type="submit") Save


