
$this: ".aph.form";

#{$this} {
    &__label,
    &__control {
        color: rgba($colorWhite, 0.75);
    }

    &__control {
        &[type="text"],
        &[type="number"] {
            color        : $colorWhite;
            background   : transparent;
            box-shadow   : none;
            border-radius: 0;
            border-bottom: 1px solid rgba($colorWhite, 0.25);

            &:hover,
            &:focus,
            &:active {
                box-shadow: none;
                border-bottom-width: 2px;
            }
        }
    }

    @include xs {
        &__control {
            border-top  : none !important;
            border-right: none !important;
            border-left : none !important;

            border-bottom-color: rgba($colorWhite, 0.5) !important;
        }
    }
}
