
$this: ".aph.navbar";

#{$this} {
    background: $colorNavbar;
    box-shadow: none;

    &__nav {
        #{$this} {
            &__brand {
                &__logo {
                    background: none;
                }

                &__title {
                    color: $colorWhite;
                }
            }

            &__menu {
                &__drawer {
                    z-index: 2;
                    opacity: 0.8;
                    padding: 32px 0 0;

                    outline   : 0;
                    border    : 0;
                    margin    : 0;
                    background: transparent;

                    background-size: 30px;
                    background-repeat: no-repeat;
                    background-position: 50% 8px;

                    @include font(12px);

                    &:before,
                    &:after {
                        display: none;
                    }

                    &.right {
                        right: 0;
                        left : auto;
                    }
                }
            }
        }
    }
}
