/* Fonts
-------------------------------------------------------------------------- */

@font-face {
    font-family: "Scoreboard";
    font-style : normal;
    font-weight: 400;
    src        : url("../fonts/scoreboard.ttf") format("truetype");
}
