/* Scoreboard
-------------------------------------------------------------------------- */
$this: ".scoreboard";

#{$this} {
    display: block;
    margin : 60px auto;
    padding: 60px;

    max-width: 820px;

    background   : rgba($color-blue, 0.5);
    border-radius: 10px;

    text-align: center;

    &__title {
        color: $color-blue;

        font-size: 60px;
        line-height: 70px;

        &__pre {
            color: rgba($color-blue, 0.5);
        }
    }

    &__match {
        position: relative;

        padding: 20px 0;
        margin : 0 auto;

        max-width: 720px;

        &:after {
            display: table;
            clear  : both;
            content: " ";
        }

        &__vs,
        &__side {
            float: left;
            position: sticky;
        }

        &__vs {
            width: 80px;
            top  : 50%;
        }

        &__side {
            width: calc(50% - 40px);

            &__controls {
                &__points {
                    display: inline-block;
                    vertical-align: middle;

                    font-family: "Scoreboard";
                    font-size  : 120px;
                    line-height: 120px;

                    min-width  : 130px;
                }

                &__btn {
                    padding: 20px;
                    width  : 80px;
                    height : 80px;
                }
            }
        }
    }

    @include xs {
        margin : 30px -#{$container-horizontal-padding};
        padding: 20px;

        border-radius: 0;
    }
}
