doctype HTML
html(lang="pt-BR")

    head
        link(rel="stylesheet" href="./css/app.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
        title Table Tennis Scoreboard

        link(rel="icon" type="image/x-icon" href="./images/icon_ping-pong.ico")
        link(rel="fluid-icon" href="./images/icon_ping-pong_fluid.png" title="Table Tennis Scoreboard")

        script(type="text/javascript" src="./scripts/app.js")
        script(type="text/javascript" src="./scripts/firebase.js")

        script(type="text/javascript" src="./scripts/ng-app.js")

        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js" onload="startNg()")
        script(type="text/javascript" src="//www.gstatic.com/firebasejs/4.12.1/firebase-app.js" onload="initFb()")
        script(type="text/javascript" src="//www.gstatic.com/firebasejs/4.12.1/firebase-auth.js")
        script(type="text/javascript" src="//www.gstatic.com/firebasejs/4.12.1/firebase-database.js")
        script(type="text/javascript" src="./scripts/moment-with-locales.min.js")

    body
        div.flex.flex--stretch

            div#wrapper.flex__item.flex__item--center.text-center.image-blur-container.wrapper

                div.container.fluid
                    != yield

                div#display-background.image-blur(style="background-image: url('https://i.giphy.com/media/fB2hQGqXXPGpi/giphy-downsized.gif');")

        include ./templates/settings.jade
