
$this: ".matches";

#{$this} {
    &__match {
        padding: 10px 10px 5px;
        margin : 5px 0 0;
        border-top: 1px solid rgba($colorWhite, .15);

        &__vs,
        &__team {
            padding-top: 8px;
        }

        &__team {
            font-size  : 12px;
            line-height: 15px;

            &.col-xs {
                -ms-flex-preferred-size: 29%;
                flex-basis: 29%;
                max-width: 29%;
            }

            &.left {
                text-align: right;
            }

            &.right {
                text-align: left;
            }

            &__points {
                font-size  : 12px;
                line-height: 10px;

                display: inline-block;
                margin : 5px 0 0;
                padding: 7px 0;
                min-width: 25px;

                background: rgba($colorBlack, .15);
                border-radius: 4px;
            }
        }

        &__duration {
            font-size  : 10px;
            line-height: 10px;

            &__label {
                display: inline-block;
                margin : 0 3px;
                padding: 3px 5px;
                background: rgba($colorBlack, 0.1);
                border-radius: 4px;
                opacity: 0.5;
            }
        }
    }
}
